<a href="https://colab.research.google.com/github/andazi/learning-pandas/blob/main/learning_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GETTING STARTED WITH PANDAS

FIRST WE IMPORT PANDAS

In [2]:
import pandas as pd

we then create a data objects using either the following

-    DataFrame
-    Series

DataFrame

In [3]:
# DataFrame
pd.DataFrame({"Andazi" : [100, 65, 88, 90, 84], "Hermonie" : [99, 98, 100, 98, 100]})

   Andazi  Hermonie
0     100        99
1      65        98
2      88       100
3      90        98
4      84       100

In [4]:
pd.DataFrame({"female names" : ["Olivia", "Emma", "Charlotte", "Amelia", "Sophia", "Ava", "Isabella", "Mia", "Evelyn", "Abigail"],
              "male names" : ["Liam", "Noah", "William", "James", "Oliver", "Benjamin", "Elijah", "Lucas", "Henry", "Alexander"]})

  female names male names
0       Olivia       Liam
1         Emma       Noah
2    Charlotte    William
3       Amelia      James
4       Sophia     Oliver
5          Ava   Benjamin
6     Isabella     Elijah
7          Mia      Lucas
8       Evelyn      Henry
9      Abigail  Alexander

In [5]:
pd.DataFrame({"female names" : ["Olivia", "Emma", "Charlotte", "Amelia", "Sophia", "Ava", "Isabella", "Mia", "Evelyn", "Abigail"],
              "male names" : ["Liam", "Noah", "William", "James", "Oliver", "Benjamin", "Elijah", "Lucas", "Henry", "Alexander"]},
              index=["index 1", "index 2", "index 3", "index 4", "index 5", "index 6", "index 7", "index 8", "index 9", "index 10"])

         female names male names
index 1        Olivia       Liam
index 2          Emma       Noah
index 3     Charlotte    William
index 4        Amelia      James
index 5        Sophia     Oliver
index 6           Ava   Benjamin
index 7      Isabella     Elijah
index 8           Mia      Lucas
index 9        Evelyn      Henry
index 10      Abigail  Alexander

Series

In [6]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
pd.Series(["Apples", "Bananas", "Oranges", "Grapes", "Berries", "Melons", "Carrots", "Potatoes", "Lettuce", "Tomatoes", "Cucumbers", "Broccoli", "Bread", "Pasta", "Rice", "Cereal", "Milk", "Cheese", "Yogurt", "Butter", "Beef", "Chicken", "Pork", "Fish", "Eggs", "Nuts", "Seeds", "Sweets", "Drinks"])

0        Apples
1       Bananas
2       Oranges
3        Grapes
4       Berries
5        Melons
6       Carrots
7      Potatoes
8       Lettuce
9      Tomatoes
10    Cucumbers
11     Broccoli
12        Bread
13        Pasta
14         Rice
15       Cereal
16         Milk
17       Cheese
18       Yogurt
19       Butter
20         Beef
21      Chicken
22         Pork
23         Fish
24         Eggs
25         Nuts
26        Seeds
27       Sweets
28       Drinks
dtype: object

In [8]:
pd.Series(["Apples", "Bananas", "Oranges", "Grapes", "Berries", "Melons", "Carrots", "Potatoes", "Lettuce", "Tomatoes", "Cucumbers", "Broccoli", "Bread", "Pasta", "Rice", "Cereal", "Milk", "Cheese", "Yogurt", "Butter", "Beef", "Chicken", "Pork", "Fish", "Eggs", "Nuts", "Seeds", "Sweets", "Drinks"],
          index = ['product 1', 'product 2', 'product 3', 'product 4', 'product 5', 'product 6', 'product 7', 'product 8', 'product 9', 'product 10', 'product 11', 'product 12', 'product 13', 'product 14', 'product 15', 'product 16', 'product 17', 'product 18', 'product 19', 'product 20', 'product 21', 'product 22', 'product 23', 'product 24', 'product 25', 'product 26', 'product 27', 'product 28', 'product 29'],
          name = "Shopping List")

product 1        Apples
product 2       Bananas
product 3       Oranges
product 4        Grapes
product 5       Berries
product 6        Melons
product 7       Carrots
product 8      Potatoes
product 9       Lettuce
product 10     Tomatoes
product 11    Cucumbers
product 12     Broccoli
product 13        Bread
product 14        Pasta
product 15         Rice
product 16       Cereal
product 17         Milk
product 18       Cheese
product 19       Yogurt
product 20       Butter
product 21         Beef
product 22      Chicken
product 23         Pork
product 24         Fish
product 25         Eggs
product 26         Nuts
product 27        Seeds
product 28       Sweets
product 29       Drinks
Name: Shopping List, dtype: object

Reading CSV files

In [9]:
california_housing = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [10]:
# check how large the resulting DateFrame
california_housing.shape

(3000, 9)

In [11]:
# displaying the first five rows to examine the data
california_housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [12]:
students = pd.DataFrame({"female names" : ["Olivia", "Emma", "Charlotte", "Amelia", "Sophia", "Ava", "Isabella", "Mia", "Evelyn", "Abigail"],
              "male names" : ["Liam", "Noah", "William", "James", "Oliver", "Benjamin", "Elijah", "Lucas", "Henry", "Alexander"]},
              index=["index 1", "index 2", "index 3", "index 4", "index 5", "index 6", "index 7", "index 8", "index 9", "index 10"])

In [13]:
# saving it in csv format
students.to_csv("list_students_names.csv")

In [35]:
store_items = pd.read_csv("List_Store_Items.csv")

In [38]:
store_items = ["Apples", "Bananas", "Oranges", "Grapes", "Berries", "Melons", "Carrots", "Potatoes", "Lettuce", "Tomatoes", "Cucumbers", "Broccoli", "Bread", "Pasta", "Rice", "Cereal", "Milk", "Cheese", "Yogurt", "Butter", "Beef", "Chicken", "Pork", "Fish", "Eggs", "Nuts", "Seeds", "Sweets", "Drinks"]
index = ['product 1', 'product 2', 'product 3', 'product 4', 'product 5', 'product 6', 'product 7', 'product 8', 'product 9', 'product 10', 'product 11', 'product 12', 'product 13', 'product 14', 'product 15', 'product 16', 'product 17', 'product 18', 'product 19', 'product 20', 'product 21', 'product 22', 'product 23', 'product 24', 'product 25', 'product 26', 'product 27', 'product 28', 'product 29']


products = pd.Series(store_items, index, name = "Shopping List")
products.to_csv("Shopping_List.csv")

By default, when you read a csv file. a default index is inserted which starts from 0 but you can set it with the `index_col = 0`, this sets the very first column to be the beginning of the Table

In [39]:
reading_products = pd.read_csv("Shopping_List.csv")
reading_products

    Unnamed: 0 Shopping List
0    product 1        Apples
1    product 2       Bananas
2    product 3       Oranges
3    product 4        Grapes
4    product 5       Berries
5    product 6        Melons
6    product 7       Carrots
7    product 8      Potatoes
8    product 9       Lettuce
9   product 10      Tomatoes
10  product 11     Cucumbers
11  product 12      Broccoli
12  product 13         Bread
13  product 14         Pasta
14  product 15          Rice
15  product 16        Cereal
16  product 17          Milk
17  product 18        Cheese
18  product 19        Yogurt
19  product 20        Butter
20  product 21          Beef
21  product 22       Chicken
22  product 23          Pork
23  product 24          Fish
24  product 25          Eggs
25  product 26          Nuts
26  product 27         Seeds
27  product 28        Sweets
28  product 29        Drinks

In [40]:
reading_index = pd.read_csv("Shopping_List.csv", index_col = 0)

In [41]:
reading_index

           Shopping List
product 1         Apples
product 2        Bananas
product 3        Oranges
product 4         Grapes
product 5        Berries
product 6         Melons
product 7        Carrots
product 8       Potatoes
product 9        Lettuce
product 10      Tomatoes
product 11     Cucumbers
product 12      Broccoli
product 13         Bread
product 14         Pasta
product 15          Rice
product 16        Cereal
product 17          Milk
product 18        Cheese
product 19        Yogurt
product 20        Butter
product 21          Beef
product 22       Chicken
product 23          Pork
product 24          Fish
product 25          Eggs
product 26          Nuts
product 27         Seeds
product 28        Sweets
product 29        Drinks