<a href="https://colab.research.google.com/github/andazi/learning-pandas/blob/main/learning_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GETTING STARTED WITH PANDAS

FIRST WE IMPORT PANDAS

In [ ]:
import pandas as pd

we then create a data objects using either the following

-    DataFrame
-    Series

DataFrame

In [ ]:
# DataFrame
pd.DataFrame({"Andazi" : [100, 65, 88, 90, 84], "Hermonie" : [99, 98, 100, 98, 100]})

   Andazi  Hermonie
0     100        99
1      65        98
2      88       100
3      90        98
4      84       100

In [ ]:
pd.DataFrame({"female names" : ["Olivia", "Emma", "Charlotte", "Amelia", "Sophia", "Ava", "Isabella", "Mia", "Evelyn", "Abigail"],
              "male names" : ["Liam", "Noah", "William", "James", "Oliver", "Benjamin", "Elijah", "Lucas", "Henry", "Alexander"]})

  female names male names
0       Olivia       Liam
1         Emma       Noah
2    Charlotte    William
3       Amelia      James
4       Sophia     Oliver
5          Ava   Benjamin
6     Isabella     Elijah
7          Mia      Lucas
8       Evelyn      Henry
9      Abigail  Alexander

In [ ]:
pd.DataFrame({"female names" : ["Olivia", "Emma", "Charlotte", "Amelia", "Sophia", "Ava", "Isabella", "Mia", "Evelyn", "Abigail"],
              "male names" : ["Liam", "Noah", "William", "James", "Oliver", "Benjamin", "Elijah", "Lucas", "Henry", "Alexander"]},
              index=["index 1", "index 2", "index 3", "index 4", "index 5", "index 6", "index 7", "index 8", "index 9", "index 10"])

         female names male names
index 1        Olivia       Liam
index 2          Emma       Noah
index 3     Charlotte    William
index 4        Amelia      James
index 5        Sophia     Oliver
index 6           Ava   Benjamin
index 7      Isabella     Elijah
index 8           Mia      Lucas
index 9        Evelyn      Henry
index 10      Abigail  Alexander

Series

In [ ]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
pd.Series(["Apples", "Bananas", "Oranges", "Grapes", "Berries", "Melons", "Carrots", "Potatoes", "Lettuce", "Tomatoes", "Cucumbers", "Broccoli", "Bread", "Pasta", "Rice", "Cereal", "Milk", "Cheese", "Yogurt", "Butter", "Beef", "Chicken", "Pork", "Fish", "Eggs", "Nuts", "Seeds", "Sweets", "Drinks"])

0        Apples
1       Bananas
2       Oranges
3        Grapes
4       Berries
5        Melons
6       Carrots
7      Potatoes
8       Lettuce
9      Tomatoes
10    Cucumbers
11     Broccoli
12        Bread
13        Pasta
14         Rice
15       Cereal
16         Milk
17       Cheese
18       Yogurt
19       Butter
20         Beef
21      Chicken
22         Pork
23         Fish
24         Eggs
25         Nuts
26        Seeds
27       Sweets
28       Drinks
dtype: object

In [ ]:
pd.Series(["Apples", "Bananas", "Oranges", "Grapes", "Berries", "Melons", "Carrots", "Potatoes", "Lettuce", "Tomatoes", "Cucumbers", "Broccoli", "Bread", "Pasta", "Rice", "Cereal", "Milk", "Cheese", "Yogurt", "Butter", "Beef", "Chicken", "Pork", "Fish", "Eggs", "Nuts", "Seeds", "Sweets", "Drinks"],
          index = ['product 1', 'product 2', 'product 3', 'product 4', 'product 5', 'product 6', 'product 7', 'product 8', 'product 9', 'product 10', 'product 11', 'product 12', 'product 13', 'product 14', 'product 15', 'product 16', 'product 17', 'product 18', 'product 19', 'product 20', 'product 21', 'product 22', 'product 23', 'product 24', 'product 25', 'product 26', 'product 27', 'product 28', 'product 29'],
          name = "Shopping List")

product 1        Apples
product 2       Bananas
product 3       Oranges
product 4        Grapes
product 5       Berries
product 6        Melons
product 7       Carrots
product 8      Potatoes
product 9       Lettuce
product 10     Tomatoes
product 11    Cucumbers
product 12     Broccoli
product 13        Bread
product 14        Pasta
product 15         Rice
product 16       Cereal
product 17         Milk
product 18       Cheese
product 19       Yogurt
product 20       Butter
product 21         Beef
product 22      Chicken
product 23         Pork
product 24         Fish
product 25         Eggs
product 26         Nuts
product 27        Seeds
product 28       Sweets
product 29       Drinks
Name: Shopping List, dtype: object

Reading CSV files

In [ ]:
california_housing = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [ ]:
# check how large the resulting DateFrame
california_housing.shape

(3000, 9)

In [ ]:
# displaying the first five rows to examine the data
california_housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
students = pd.DataFrame({"female names" : ["Olivia", "Emma", "Charlotte", "Amelia", "Sophia", "Ava", "Isabella", "Mia", "Evelyn", "Abigail"],
              "male names" : ["Liam", "Noah", "William", "James", "Oliver", "Benjamin", "Elijah", "Lucas", "Henry", "Alexander"]},
              index=["index 1", "index 2", "index 3", "index 4", "index 5", "index 6", "index 7", "index 8", "index 9", "index 10"])

In [ ]:
# saving it in csv format
students.to_csv("list_students_names.csv")

In [ ]:
store_items = pd.read_csv("List_Store_Items.csv")

In [ ]:
store_items = ["Apples", "Bananas", "Oranges", "Grapes", "Berries", "Melons", "Carrots", "Potatoes", "Lettuce", "Tomatoes", "Cucumbers", "Broccoli", "Bread", "Pasta", "Rice", "Cereal", "Milk", "Cheese", "Yogurt", "Butter", "Beef", "Chicken", "Pork", "Fish", "Eggs", "Nuts", "Seeds", "Sweets", "Drinks"]
index = ['product 1', 'product 2', 'product 3', 'product 4', 'product 5', 'product 6', 'product 7', 'product 8', 'product 9', 'product 10', 'product 11', 'product 12', 'product 13', 'product 14', 'product 15', 'product 16', 'product 17', 'product 18', 'product 19', 'product 20', 'product 21', 'product 22', 'product 23', 'product 24', 'product 25', 'product 26', 'product 27', 'product 28', 'product 29']


products = pd.Series(store_items, index, name = "Shopping List")
products.to_csv("Shopping_List.csv")

By default, when you read a csv file. a default index is inserted which starts from 0 but you can set it with the `index_col = 0`, this sets the very first column to be the beginning of the Table

In [ ]:
reading_products = pd.read_csv("Shopping_List.csv")
reading_products

In [ ]:
reading_index = pd.read_csv("Shopping_List.csv", index_col = 0)

In [ ]:
reading_index

Using the **dot notation** to access columns(fields)

```
data_name.column_name
```
If you observe, the output is exactly like in **Series**

In [46]:
california_housing.households

0       606.0
1       277.0
        ...
2998     14.0
2999    260.0
Name: households, Length: 3000, dtype: float64

Using the **indexing operator in object** to access columns(fields)

```
data_name['column_name']
```
Using this method is better because some column names do contain whiteSpace, so we can't write `california.total rooms`. This would output an error

In [48]:
california_housing['population']

0       1537.0
1        809.0
         ...
2998      46.0
2999     753.0
Name: population, Length: 3000, dtype: float64

In [49]:
# We can go further to access specific item in a list
california_housing['population'][2999]

753.0

In [52]:
# checking the dataType
type(california_housing)

pandas.core.series.Series

In [53]:
type(california_housing['population'])

pandas.core.series.Series

Indexing in Pandas is a little bit diffrent, we use `iloc` or `loc` operator.

In [59]:
california_housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

Accessing rows, we can use the **index-based selection** or the **label-based selection**

The index-based selection usings integers like `california_housing.iloc[4]`

The code above says, in *california_housing* and *return the whole row in the 4th index*

In [61]:
# checking the row(period) with an index of 4
california_housing.iloc[4]

longitude              -119.6700
latitude                 36.3300
                         ...
median_income             2.9375
median_house_value    81700.0000
Name: 4, Length: 9, dtype: float64

In [ ]:
carlifornia_housing_9 = pd.DataFrame(california_housing.iloc[9])
carlifornia_housing_9

In [57]:
# checking the row(period) with an index of 9
california_housing.iloc[0]

longitude               -122.0500
latitude                  37.3700
                         ...
median_income              6.6085
median_house_value    344700.0000
Name: 0, Length: 9, dtype: float64

In [63]:
# checking the last 5 rows(periods)
california_housing.iloc[-5:]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [75]:
# accessing specific rows
california_housing.iloc[[0,10,100,1000]]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
10,-118.24,33.98,45.0,972.0,249.0,1288.0,261.0,2.2054,125000.0
100,-118.30,34.02,49.0,2120.0,483.0,1522.0,416.0,1.8500,116800.0
1000,-119.75,34.40,31.0,1997.0,299.0,826.0,301.0,6.8927,500001.0

You can select the exact column to view, using

```
[:, column_index]
```

In [73]:
# the below code check for the 3 index(total_rooms) of the last 5 rows
california_housing.iloc[-5:,3]

2995    1450.0
2996    5257.0
2997     956.0
2998      96.0
2999    1765.0
Name: total_rooms, dtype: float64

In [77]:
# accessing specific rows and column
california_housing.iloc[[0,10,1000], 2]

0       27.0
10      45.0
1000    31.0
Name: housing_median_age, dtype: float64

The label-based selection usings integers like `california_housing.loc[4, 'population']`

The code above says, in *california_housing* and *return the value of population 4th index*

`loc` returns the value not the whole rows

In [82]:
california_housing.loc[4, 'population']

850.0

In [83]:
california_housing.loc[4, 'longitude']

-119.67

In [84]:
california_housing.loc[4, 'latitude']

36.33

In [85]:
california_housing.loc[4, 'housing_median_age']

19.0

In [81]:
# you can return all at once based on needs
california_housing.loc[4, ['population', 'longitude', 'latitude', 'housing_median_age']]

population            850.00
longitude            -119.67
latitude               36.33
housing_median_age     19.00
Name: 4, dtype: float64